<center><h1> Welcome to spotify </h1></center>

<% if signed_in? %>

<<<<<<< HEAD
	<center><h2> Sesion iniciada </h2></center>
=======
	<center><h2> Sesión iniciada </h2></center>
>>>>>>> 79caf1f581d8d209d5bffdf222c3fb0bb2bca168

<% end %>