html,body{
	margin: 0px;
}
.be-red{
	background-color: rgb(121,227,161);
}

.white{
	color: white;
}

.large-padding{
	padding: 1px 2px; 
}

a,a:visited{
	color: inherit !important;
	text-decoration: none;
}

#logo{
	font-size: 2em;
}